
.dialog-content {
  width: 200px;
  height: 400px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.mat-form-field{
  width:100% !important;
}

.mat-mdc-form-field-flex{
  margin-top: 5px;
}
