<div class="container-dialog">
  <mat-dialog-content>
    <!-- Your dialog content here -->
    <p mat-dialog-title>{{ dialogTitle }}</p>

    <mat-form-field style="width: 100%">
      <mat-label>Name of task (necessary)</mat-label>
      <input
        #inputTitle
        matInput
        [(ngModel)]="tmpTitle"
        (keydown.enter)="onConfirm()"
      />
      <button
        *ngIf="tmpTitle.trim().length > 0"
        mat-icon-button
        matSuffix
        aria-label="Clear"
        (click)="tmpTitle = ''"
        class="size25"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Show Category</mat-label>
      <mat-select [(ngModel)]="tmpCategory">
        <mat-option [value]="null">No Category</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Show Priority</mat-label>
      <mat-select [(ngModel)]="tmpPriority">
        <mat-option [value]="null">No Priority</mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority">
          {{ priority.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Custom calendar header</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="col-md-5 col-12">
      <button
        mat-raised-button
        color="primary"
        (click)="onConfirm()"
        [disabled]="inputTitle.value.trim().length == 0"
      >
        Save
      </button>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>

    <div class="col-md-7 col-12 text-right">
      <button
        mat-button
        *ngIf="task.completed"
        (click)="activate()"
        class="green"
      >
        Make Active
      </button>
      <button
        mat-button
        *ngIf="!task.completed"
        (click)="deactivate()"
        class="grey"
      >
        Make Deactive
      </button>
      <button mat-button class="red" (click)="delete()">Delete task</button>
    </div>
    <!-- Your dialog actions here -->
  </mat-dialog-actions>
</div>
