<div
  class="sidebar"
  data-color="purple"
  data-background-color="white"
  data-image="../assets/img/sidebar-1.jpg"
>
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        class="nav-item category"
        (click)="showTaskByCategory(null)"
        [class.active]="selectCategory === null"
      >
        <a class="nav-link pointer">
          <span class="all-category-title"> All </span>
        </a>
      </li>

      <div class="line"></div>
      <li
        class="nav-item pointer"
        (click)="showTaskByCategory(category)"
        *ngFor="let category of categories; let index = index"
        [class.active]="category === selectedCategory"
        (mouseleave)="showEditionIcon(null)"
        (mouseenter)="showEditionIcon(index)"

        class="nav-item pointer"
      >
        <a class="nav-link">
          <span class="category-title">{{ category.title }}</span>
          <span class="edit-category-icon-area">
            <mat-icon
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation(); openEditDialog(category)"
              class="edit-category-icon"
            >
              edit
            </mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
