<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a></div>
      
    <div class="sidebar-wrapper">

      <ul class="nav">

        <li class="nav-item pointer" 
            *ngFor="let category of categories" 
            (click) = "showTaskByCategory(category)"
            [class.active]="category === selectedCategory"
            >
            
          <a class="nav-link" >

            <p>{{category.title}}</p>

          </a>

        </li>

      </ul>

    </div>

  </div>