<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">List of tasks</h4>
  </div>
  <div class="card-body table-responsive" *ngIf="tasks && tasks.length > 0">
    <table [dataSource]="dataSource" mat-table matSort>
      <!-- color of priority-->
      <ng-container matColumnDef="color">
        <th *matHeaderCellDef mat-header-cell></th>
        <td
          class="col-color"
          *matCellDef="let task"
          [style.background-color]="getPriorityColor(task)"
          mat-cell
        ></td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell></th>
        <td class="col-id" *matCellDef="let index = index" mat-cell>
          {{ index + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td class="col-title pointer" *matCellDef="let task" [class.completed]="task.completed" mat-cell
        (click)="openEditTaskDialog(task)">
          {{ task.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
        <td
          class="col-date"
          *matCellDef="let task"
          [ngClass]="{ completed: task.completed, novalue: task.date == null }"
          mat-cell
        >
        <!-- {{ task.date ? (task.date | date:'medium') : 'No date' }} -->
        {{ task.date | taskDate }}
      </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Priority</th>
        <td
          class="col-priority"
          *matCellDef="let task"
          [ngClass]="{
            completed: task.completed,
            novalue: task.priority == null
          }"
          mat-cell
        >
          {{ task.priority ? task.priority.title : "No priority" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Category</th>
        <td
          class="col-category"
          *matCellDef="let task"
          [ngClass]="{
            completed: task.completed,
            novalue: task.category == null,
            link: !task.completed && task.category
          }"
          mat-cell
        >
          {{ task.category ? task.category.title : "No category" }}
        </td>
      </ng-container>

      <!-- title header of table-->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <!-- title rows of table-->
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>

  </div>

  <div *ngIf="tasks && tasks.length == 0">
    <p class="not-found">
        Nothing found
    </p>
  </div>
</div>
