.completed{
    text-decoration: line-through;
    color: #797979;
}

.novalue{
    color: #b7b7b7;
}

.col-color{
    width:1% !important;
}
.col-id{
    width:4%;
    text-align:center;
}
.col-title{
    width:40%;
}
.col-priority{
    width:10%;
}
.col-category{
    width:10%;
}.col-operations{
    width:8%;
}
.col-select{
    width:3%;
}
.col-date{
    width:10% !important;
}

.pointer{
    cursor:pointer;
}

.mat-mdc-select-panel{
    width: 5% !important;
    background-color: white !important;
    position: fixed !important;
    z-index: 5555 !important;
    top: 74% !important;
    right: 18% !important;
    border: 1px solid black
}